<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>27</BK2>
  <Col3>67</Col3>
  <Reversed>False</Reversed>
  <Multicolour>True</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>64</charcode>
    <chardata>
      <data>235</data>
      <data>235</data>
      <data>235</data>
      <data>235</data>
      <data>235</data>
      <data>235</data>
      <data>235</data>
      <data>235</data>
    </chardata>
  </character>
  <character>
    <charcode>65</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>66</charcode>
    <chardata>
      <data>60</data>
      <data>255</data>
      <data>235</data>
      <data>235</data>
      <data>235</data>
      <data>235</data>
      <data>235</data>
      <data>235</data>
    </chardata>
  </character>
  <character>
    <charcode>67</charcode>
    <chardata>
      <data>235</data>
      <data>235</data>
      <data>235</data>
      <data>235</data>
      <data>235</data>
      <data>235</data>
      <data>255</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>68</charcode>
    <chardata>
      <data>63</data>
      <data>255</data>
      <data>234</data>
      <data>234</data>
      <data>234</data>
      <data>234</data>
      <data>255</data>
      <data>63</data>
    </chardata>
  </character>
  <character>
    <charcode>69</charcode>
    <chardata>
      <data>252</data>
      <data>255</data>
      <data>171</data>
      <data>171</data>
      <data>171</data>
      <data>171</data>
      <data>255</data>
      <data>252</data>
    </chardata>
  </character>
  <character>
    <charcode>70</charcode>
    <chardata>
      <data>60</data>
      <data>60</data>
      <data>255</data>
      <data>195</data>
      <data>195</data>
      <data>255</data>
      <data>60</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>71</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>60</data>
      <data>60</data>
      <data>60</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>72</charcode>
    <chardata>
      <data>234</data>
      <data>234</data>
      <data>234</data>
      <data>234</data>
      <data>234</data>
      <data>234</data>
      <data>234</data>
      <data>234</data>
    </chardata>
  </character>
  <character>
    <charcode>73</charcode>
    <chardata>
      <data>171</data>
      <data>171</data>
      <data>171</data>
      <data>171</data>
      <data>171</data>
      <data>171</data>
      <data>171</data>
      <data>171</data>
    </chardata>
  </character>
  <character>
    <charcode>74</charcode>
    <chardata>
      <data>234</data>
      <data>234</data>
      <data>234</data>
      <data>234</data>
      <data>250</data>
      <data>62</data>
      <data>15</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>75</charcode>
    <chardata>
      <data>171</data>
      <data>171</data>
      <data>171</data>
      <data>171</data>
      <data>175</data>
      <data>188</data>
      <data>240</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>76</charcode>
    <chardata>
      <data>15</data>
      <data>63</data>
      <data>250</data>
      <data>234</data>
      <data>234</data>
      <data>234</data>
      <data>234</data>
      <data>235</data>
    </chardata>
  </character>
  <character>
    <charcode>77</charcode>
    <chardata>
      <data>240</data>
      <data>252</data>
      <data>175</data>
      <data>171</data>
      <data>171</data>
      <data>171</data>
      <data>171</data>
      <data>235</data>
    </chardata>
  </character>
  <character>
    <charcode>78</charcode>
    <chardata>
      <data>235</data>
      <data>234</data>
      <data>234</data>
      <data>234</data>
      <data>234</data>
      <data>250</data>
      <data>63</data>
      <data>15</data>
    </chardata>
  </character>
  <character>
    <charcode>79</charcode>
    <chardata>
      <data>235</data>
      <data>171</data>
      <data>171</data>
      <data>171</data>
      <data>171</data>
      <data>175</data>
      <data>252</data>
      <data>240</data>
    </chardata>
  </character>
  <character>
    <charcode>80</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>81</charcode>
    <chardata>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
</charset>
